@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-white leading-loose;
    background-color: #8f8c8c;
  }

  .no-spinner {
    -moz-appearance: textfield; /* Firefox */
  }
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Chrome, Safari */
  }

  .dark body {
    background-color: theme("colors.dark.primary");
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px black;
  }

  .dark .text-outline {
    -webkit-text-stroke: 1px white;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }

  .erro-form {
    border: 1px solid red; /* Adiciona uma borda vermelha */
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate {
    animation: spin 2s linear infinite;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slide-down {
    animation: slideUp 0.5s ease-in-out forwards;
  }
}
